<web-app>
<servlet>
<servlet-name>week1</servlet-name>
<servlet-class>LoginForm10</servlet-class>
<init-param>
<param-name>bhargav </param-name>
<param-value>hello </param-value>
 </init-param>
 <init-param>
<param-name>sai </param-name>
<param-value>hi </param-value>
 </init-param>
 <init-param>
<param-name>krishna </param-name>
<param-value>lol </param-value>
 </init-param>
 <init-param>
<param-name>bhargav_skr </param-name>
<param-value>jack </param-value>
 </init-param>
</servlet>
<servlet-mapping>
<servlet-name>week1</servlet-name>
<url-pattern>/login4</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>a</servlet-name>
<servlet-class>RegisterForm2</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>a</servlet-name>
<url-pattern>/register4</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>b</servlet-name>
<servlet-class>Cart</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>b</servlet-name>

<url-pattern>/cart</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>c</servlet-name>
<servlet-class>Catalog</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>c</servlet-name>
<url-pattern>/catalog</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>d</servlet-name>
<servlet-class>Success</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>d</servlet-name>
<url-pattern>/regsucc</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>e</servlet-name>
<servlet-class>Successlog</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>e</servlet-name>
<url-pattern>/logsucc</url-pattern>
</servlet-mapping>


</web-app>
